@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.login-username {
  position: absolute;      
  top: 45%;                
  left: 55.8%;             
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', monospace;
  font-size: 5px;
  color: #A65D51;
  background: none;
  border: none;
  outline: none;
  width: 100px;            
  caret-color: #A65D51;
  transition: color 0.2s;  
}

.login-username::placeholder {
  color: #A65D51;
}

.login-username:hover {
  color: #A65D51;           
}

.login-password {
  position: absolute;      
  top: 47.9%;                
  left: 55.8%;               
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', monospace;
  font-size: 5px;
  color: #A65D51;
  background: none;
  border: none;
  outline: none;
  width: 100px;            
  caret-color: white;
  transition: color 0.2s;
}

.login-password::placeholder {
  color: #A65D51;
}

.login-password:hover {
  color: #A65D51;
}

.login-button {
  position: absolute;      
  top: 52.4%;                
  left: 54.1%;               
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', monospace;
  font-size: 8px;
  color: #ffcc00;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
  -webkit-tap-highlight-color: transparent; 
}

.login-button:hover,
.login-button:focus {
  color: #fff;
  background: none;  
  outline: none;     
  box-shadow: none;  
}
